{% extends '_base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<h1>About Page</h1>
<p>
    This is a bookstore with social layer page prepared for a specific demonstration purposes. <br>
    This is <b>not</b> it's final version - as I keep polishing python/django skills it's being farther developed on the daily manner.
</p>
<p>If You, dear <b>Reader</b>, find this page backend sufficient for your jobs offer requirements,
        feel free contacting me :) </p>
<ul>
    Future releases will include:
    <li>direct messages system</li>
    <li>improved apps tests</li>
    <li>alerts/notification system </li>
    <li>bussiness profile - upload users book </li>
    <li>...and many more</li>

</ul>


{% endblock content %}