{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h3>Home Page</h3>
{% for post in posts %}
<article class="media content-section">
    {% if post.author.profile_pic %}
    <img class="rounded-circle article-img" src="{{ post.author.profile_pic.url }}" alt="profile_pic">
    {% else %}
    <img class="rounded-circle article-img" src="{% static 'images/gandalf.jpg' %}" alt="default_gandalf">
    {% endif %}
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"l (N j, Y)"}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <hr>
        <hr>
        <ul class="text-muted">Comments on this post: <b>{{ post.comments.count }}</b>
            <button class="btn btn-outline-info btn-sm ml-4">
                <small>
                    <a href="{% url 'post_detail' post.slug %}">add comment</a>
                </small>
            </button>

            {% if post.comments.count %}

            {% for comment in post.comments.all|slice:":2" %}
            <li><b>{{comment.author}}:</b></li>
            <p>{{comment.content}}</p>

            {% endfor %}

            {% else %}

            <li><small>This post has no comments</small></li>
            {% endif %}
        </ul>
    </div>
</article>

{% endfor %}
<div class="d-flex justify-content-center">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num%}
    <a class="btn btn-info mb-4" href="/?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="/?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% endif %}
</div>


{% endblock content %}